<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/library.ico">
    <partial name="_CssPartial" />
</head>
<body class="hold-transition layout-top-nav layout-navbar-fixed">
    <div class="wrapper">
        <partial name="_BusyIndicatorPartial" />
        @RenderBody()
        <partial name="_ScriptsPartial" />
        <partial name="_ValidationScriptsPartial" />
        <partial name="_ScriptsNotification" />
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>

