@{
    ViewBag.Title = "Users";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Users</h1>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-primary darkbtn float-sm-right" asp-area="" asp-controller="User" asp-action="Manage" onclick="showLoading();"><img src="~/assets/img/plus-White.png" /> Create New User</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-primary">
                        <div class="card-body tableDiv">
                            <table id="userDatatable" class="table datatable">
                                <thead>
                                    <tr>
                                        <th>Mspin</th>
                                        <th>Name</th>
                                        <th>Middle Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Designation</th>
                                        <th>Department</th>
                                        <th>Manager Id</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}
