@model LMS.Abstraction.Models.User

@{
    ViewData["Title"] = (Model.UserId > 0) ? $"Edit User - {Model.FirstName}" : "Create New User";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@(Model.UserId > 0 ? $"Edit User - {Model.FirstName}" : "Create New User")</h1>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-outline-primary float-sm-right" asp-area="" asp-controller="User" asp-action="Index" onclick="showLoading();">Back</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">

            <form id="userForm" enctype="multipart/form-data" class="form-horizontal form-bordered" asp-action="Manage" asp-controller="User">
                <section class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-primary">
                                <div class="card-body">
                                    <input asp-for="UserId" type="hidden" id="UserId">
                                    <input asp-for="Password" type="hidden" id="Password">
                                    <input asp-for="Salt" type="hidden" id="Salt">
                                    <div class="row">
                                        
                                        <div class="form-group col-4">
                                            <label for="Email">Email </label>
                                            <input maxlength="50" asp-for="Email" type="text" id="Email" class="form-control">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-4">
                                            <label for="FirstName">Name <span class="required">*</span></label>
                                            <input maxlength="50" asp-for="FirstName" type="text" id="FirstName" class="form-control">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-4">
                                            <label for="LastName">Middle Name</label>
                                            <input maxlength="50" asp-for="LastName" type="text" id="LastName" class="form-control">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-4">
                                            <label for="MobileNo">Mobile No</label>
                                            <input maxlength="10" asp-for="MobileNo" type="text" id="MobileNo" class="form-control numberOnly">
                                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a asp-controller="User" asp-action="Index" class="btn btn-secondary">Cancel</a>
                                <input type="submit" value="Save" class="btn btn-success float-right" onclick="return validateUser();">
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/user.js"></script>
}
